# ===== Build output =====
Debug/
Release/
build/

# ===== Binary outputs =====
*.elf
*.map
*.list
*.hex
*.bin
*.size
default.size.stdout

# ===== Object files =====
*.o
*.d
*.su
*.cyclo

# ===== STM32CubeIDE / Eclipse =====
.metadata/
.settings/
*.launch
*.log

# ===== VS Code =====
.vscode/

# ===== OS files =====
.DS_Store
Thumbs.db

# ===== Backup / temp =====
*~
*.swp
